spring:
  application:
    name: Vocabulary

  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB



  datasource:
    url: jdbc:postgresql://localhost:5443/vocabulary
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6333
      database: 0


  springdoc:
    swagger-ui:
      path: /docs



minio:
    url: http://localhost:9000
    access-key: admin
    secret-key: password123
    bucket: vocabulary